PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_key_here
MONGODB_URI=mongodb+srv://zoecmcgee_db_user:Xgchn8jfbNUTQ6q0@nextstack.wcwoffk.mongodb.net/final_capstone?retryWrites=true&w=majority